.vs/
Debug/
Release/
x64/
FirstPlatformerGame.sln
FirstPlatformerGame.vcxproj
FirstPlatformerGame.vcxproj.filters
FirstPlatformerGame.vcxproj.user
ovsyanka.psd
ovsyanka_mini.psd
ovsyanka_total.psd
oatmeal_cat-head_left.png
oatmeal_cat-head_left-pop.png
oatmeal_cat-head_right.png
oatmeal_cat-head_right-pop.png
oatmeal_cat-head_spritelist.png
oatmeal_cat-head_spritelist_low.png
oatmeal_cat-head_spritelist_mini.png
oatmeal_jump.png
oatmeal_token.png
wave.png